.bg-black {
    background-color: #1e272e;
}

.color-white {
    color: #dff9fb !important;
}

a:hover {
    color: #b8fdff !important;
}

.gallery_product { 
    margin-bottom: 30px; 
}

.gallery_product .title{ 
    color:#fff; margin: 0; position:relative; bottom:50px; left:10px; 
} 

.gallery_product .title small{ 
    display:block; 
}