.bg-black {
    background-color: #1e272e;
}

.btn-black {
    color: #fff;
    background-color: #1e272e;
}

.btn-black:hover {
    color: #dff9fb;
    background-color: #1e272e;
}

.color-white {
    color: #dff9fb !important;
}

a:hover {
    color: #2e5a5c !important;
}

#logo {
    width: 2rem !important;
}

.btn-special {
    color: #2e5a5c;
    background-color: #ffffff;
}

.btn-special:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-width: 0.15rem;
  border-radius: 1rem;
  box-shadow: none;
}