.bg-black {
    background-color: #1e272e;
}

.btn-black {
    color: #1e272e !important;
    background-color: #1e272e !important;
    border-radius: 5rem !important;
}

.btn-black:hover {
    color: #dff9fb;
    background-color: #1e272e;
}

.color-white {
    color: #dff9fb !important;
}

a:hover {
    color: #2e5a5c !important;
}

#logo {
    width: 2rem !important;
}

.barra-rolagem {
    overflow: hidden;
}

.card-local{
    margin-right: 30rem;
    margin-left: 30rem;
}

@media (max-width: 575.98px) {

.carousel-caption>p {
    margin-bottom: 0rem;
    }

.carousel-caption>a {
    margin-bottom: 0rem;
    }

}

/* Dispositivos small - sm (telefones em modo paisagem, com menos de 768px) */
@media (max-width: 767.98px) {

}

/* Dispositivos médios - md (tablets com menos de 992px) */
@media (max-width: 991.98px) {

}

/* Dispositivos large - lg (desktops com menos de 1200px) */
@media (max-width: 1199.98px) {

}